.course-hp-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.text-pd-color{
    color: black;
    padding-top: 50px;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
.course-main-btn{
    font-size: 15px;
    font-weight: 500;
    background-color: #1bbf72;
    border: none;
    color: white;
    padding: 12px 35px;
}
.course-main-btn:hover{
    background-color: rgb(15, 15, 15);
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .course-hp-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width:991px) {
    .course-hp-container{
        grid-template-columns: repeat(2, 1fr);
    }
}